<html>
<title> Skin Opener </title>
<body style="background-color:rgb(18, 223, 46)">
<h1> Gun Skin Generator </h1>

   <h2> Gun Skin generated below </h2>

    <div class="new">
        You rolled a {{ storeroll.rarity }} {{ storeroll.gun }} worth £{{ storeroll.price }}

    </div>
<br>
       
    <div class = "history"
    <h2>Last Few Rolls</h2>
        <br>
                {% for history in rollhistory %}
                    {{ history.rarity }}
                    {{ history.gun }}
                    £{{ history.price }}
                    <br>
                {% endfor %}
            </p>
</div>
</body>
</html>